.layout-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.header-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  border-bottom: 1px solid #eaeaea;
}
